body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.customize-form-box {
  display: flex;
  flex-direction: column;
}

.customize-form-inputs-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customize-form-input {
  display: flex;
  justify-content: center;
}

.customize-form-buttons-box {
  display: flex;
  justify-content: center;
}

.customize-form-button {
  display: flex;
  margin: 0.2rem;
}
.selected {
  opacity: 0.4;
}
.unselected {
  opacity: 1;
}
