body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  /* background-color: #242525; */
  background: black;
}

nav a {
  color: white;
  display: inline-block;
  margin: 1em;
}

nav a:hover {
  color: #6441a5;
}

form div {
  margin: 1em;
  display: inline-block;
}

.top-header {
  display: flex;
  justify-content: center;
  color: #5a5d5c;
  color: #c9cfce;
  padding: 1rem;
  background: black;
}

.top-header h1 {
  margin: 0; /* let text fill the whole background */
  font-size: 2.5em;
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  height: 90px;
}
.nav-login-items,
.nav-function-items {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.customize-form-box {
  display: flex;
  flex-direction: column;
}

.customize-form-inputs-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customize-form-input {
  display: flex;
  justify-content: center;
}

.customize-form-buttons-box {
  display: flex;
  justify-content: center;
}

.customize-form-button {
  display: flex;
  margin: 0.2rem;
}
.main-layout-container {
  display: flex;
}
.all-streams-container {
  display: flex;
  /* max-width: 700px; */
  flex-wrap: wrap;
  width: 100%;
  background: gray;
}
.single-stream-outer {
  /* position: absolute; */

  /* border: 1px solid red; */
  display: block;
  margin-left: 5px;
  margin-top: 5px;
  /* border: 10px solid black; */
}
.single-stream-overlay-menu {
  position: relative;
  top: 0;
  width: 100%;
  height: 50px;
  top: 0;
  background: black;
  color: black;
  /* opacity: 0.1; */
  z-index: 1;

  /* visibility: hidden; */
}

.single-stream-link {
  color: black;
}

.single-stream-overlay-menu:hover .single-stream-link {
  color: white;
}
.single-stream-overlay-menu:hover .single-stream-link:hover {
  color: #6441a5;
}

.single-stream-overlay-menu:hover {
  width: 100%;
  background: black;
  height: 50px;
  opacity: 1;
  z-index: 1;
  color: white;
}

.selected {
  opacity: 0.4;
}
.unselected {
  opacity: 1;
}

.single-stream-overlay-icon-box {
  padding: 10px;
  padding-right: 20px;
  position: relative;
  float: right;
}

.multistream-sidebar {
  position: relative;
  height: 100hw;
  background: black;
  width: 150px;
}

.sidebar-edit-btn {
  background: black;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding-left: 30px;
}
.sidebar-edit-btn:hover {
  color: #6441a5;
}
.chat-container {
  width: 350px;
}
